@charset "utf-8";

/*--------------------------------------------------------------------------------
	# RESET
---------------------------------------------------------------------------------*/
html, body {height:100%;}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, strong, sub, sup, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, embed, input, select, textarea, button {margin:0;padding:0;}
body {color:#5a5a5a;font-size:0.875em;line-height:1.5;font-family:'맑은 고딕', 'Malgun Gothic','돋움',Dotum,AppleGothic,Tahoma,Helvetica,sans-serif;}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'맑은 고딕', 'Malgun Gothic','돋움',Dotum,AppleGothic,Tahoma,Helvetica,sans-serif;}
input, button, textarea, select {font-size:1em;font-family:'맑은 고딕', 'Malgun Gothic','돋움',Dotum,AppleGothic,Tahoma,Helvetica,sans-serif;}
code, pre {font-size:1em;}
address, em, cite {font-style:normal;}
img {display:inline-block;border:0 none;}
a, em, label, span, strong, button {display:inline-block;}
hr {display:none;} 
table {border-collapse:collapse;border-spacing:0;}
caption {width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
th, td {vertical-align:top;text-align:left;font-weight:normal;}
li {list-style-type:none;}
fieldset {border:0 none;}
legend {position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0;}
select {height:28px;padding:6px 4px 5px 7px;font-size:1em;line-height:1.5;color:#646464;border:1px solid #646464;}
textarea {padding:5px;border:1px solid #646464;line-height:1.167;}
label, button {cursor:pointer;}
button {overflow:visible;border:none;background:none;background:transparent;vertical-align:top;font-family:inherit;white-space:nowrap;text-decoration:none;/*outline:0;*/}
a:link {color:#5a5a5a;text-decoration:none;}
a:visited {color:#5a5a5a;text-decoration:none;}
a:hover {color:#5a5a5a;text-decoration:none;}
a:active {color:#222;}

/*--------------------------------------------------------------------------------
	# 레이아웃 : 기본, 공통
---------------------------------------------------------------------------------*/
/* skipNavigation */
#skipNav {position:fixed;left:0;right:0;top:0;text-align:center;width:100%;z-index:10000;}
#skipNav a {overflow:hidden;display:block;width:100%;height:0;margin:0;padding:0;font-size:13px;line-height:45px;color:#fff;background:#7e756b;}
#skipNav a:hover, #skipNav a:active, #skipNav a:focus {height:45px;padding:0;line-height:45px;background:#7e756b;color:#fff;}

/* 읽기전용 */
.readonly, .blind {overflow:hidden;width:1px;height:1px;position:absolute;float:left;font-size:1px;}

/* 영역 */
.wrapAll {min-height:100%;background:#fff;}

/*--------------------------------------------------------------------------------
	# 레이아웃 : HEADER
---------------------------------------------------------------------------------*/
.headerWrap {position:relative;min-width:1000px;z-index:9999;}
.headerWrap .headBox {position:relative;width:980px;height:35px;margin:0 auto;padding:20px 0 10px;}

#headArea .logo a {overflow:hidden;width:0;height:24px;padding:0 0 0 108px;line-height:24px;background:url('../img/icon_set1.png') no-repeat -280px 2px;white-space:nowrap;}

/* 
		<!-- //////////////////////////////////////////////////////////////////////////////////// -->
		<!-- 로그인 관련 css -->
		<!-- //////////////////////////////////////////////////////////////////////////////////// -->

 */

/* 로그인 */
.certMenu {overflow:hidden;position:absolute;left:50%;top:57px;width:920px;margin:0 0 0 -490px;padding:0 30px;z-index:50;}
.certMenu > li {float:left;line-height:28px;}

/* 로그인 : 로그인전 */
.certMenu.session-off > li + li {margin:0 0 0 -1px;}
.certMenu.session-off > li a {font-size:14px;height:26px;line-height:25px;padding:0 10px;background:#fff;border:1px solid #ddd;color:#000;}
.certMenu.session-off > li:first-child a {color:#222;}

/* 로그인 : 로그인후 */
.certMenu .h_time, .certMenu .h_extend {display:none;}
.certMenu .h_fishing {overflow:hidden;position:relative;}
.certMenu .h_fishing .secureTooltip {position:absolute;top:-30px;left:-30px;font-size:1;line-height:1;width:1px;height:1px;}
.certMenu .h_userName {margin:0 5px;}
.certMenu .h_userName em {font-size:13px;color:#000;}
.certMenu .h_userName img {margin-top:-2px;vertical-align:middle;}
.certMenu .h_login > a {position:relative;padding:0 15px 0 30px;font-size:12px;text-decoration:underline;color:#000;}
.certMenu .h_login > a:before {content:'';display:block;position:absolute;top:6px;left:10px;width:15px;height:15px;background:url('../img/icon_set1.png') no-repeat 0 -160px;}
.certMenu .h_logout > a {height:26px;padding:0 10px;background:#f3f3f3;border:1px solid #ddd;font-size:13px;line-height:28px;color:#403c3c;}

/*--------------------------------------------------------------------------------
	# 레이아웃 : HEADER : GNB
---------------------------------------------------------------------------------*/
.wrap-gnb {position:absolute;right:0;top:15px;z-index:51;}
.on-search .wrap-gnb .nav-gnb > li, .on-search .wrap-gnb .nav-gnb > li.m11 a[href="#search_container_2018"] {z-index:-1;opacity:0;}
.on-search .wrap-gnb .nav-gnb > li.m11.on {z-index:1;opacity:1;}
@media \0screen\,screen\9 {
	.on-search .wrap-gnb .nav-gnb > li.m11 a[href="#search_container_2018"] {display:none;}
}

/* GNB : 공통스타일 */
.nav-gnb > li {position:relative;float:left;}
.nav-gnb > li > a {font-size:14px;line-height:30px;padding:0 8px;color:#434343;letter-spacing:-1px;}
.nav-gnb > li .submenu {display:none;position:absolute;right:50%;top:24px;width:109px;margin:0 -76px 0 0;padding:6px 0 0;}
.nav-gnb > li .submenu > ul {overflow:hidden;padding:13px 10px 15px;border-top:2px solid #ffe85a;background:#fff;box-shadow:2px 2px 2px 0 rgba(0,0,0,0.1);}
.nav-gnb > li .submenu ul > li a {display:block;padding:0 10px;font-size:13px;line-height:27px;white-space:nowrap;}
.nav-gnb > li .submenu ul > li a[target="_blank"]:after {content:'';overflow:hidden;display:inline-block;width:12px;height:12px;margin:0 0 0 6px;background:url('../img/icon_set1.png') no-repeat -445px -5px;}
.nav-gnb > li .submenu ul > li a:hover, .nav-gnb > li .submenu ul > li a:focus {background:#ffe85a;text-decoration:none;color:#000;}
.nav-gnb > li .submenu.list > ul > li {float:left;min-width:150px;}
.nav-gnb > li .submenu.list > ul > li .tit {display:block;margin:0 0 5px;padding:0 10px;font-size:14px;line-height:30px;border-bottom:1px solid #e7e4e2;color:#53473f;font-weight:bold;}
.nav-gnb > li .submenu.list > ul > li a.tit:hover, .nav-gnb > li .submenu.list > ul > li .tit:focus {background:none;}
.nav-gnb > li .submenu.list > ul > li a.tit:after {display:none;}
.nav-gnb > li .submenu.list > ul > li + li {margin:0 0 0 15px;}
.nav-gnb > li.on > a:not(:only-child):before {content:'';position:absolute;left:50%;top:100%;margin:-4px 0 0 -3px;border-right:4px solid transparent;border-left:4px solid transparent;border-bottom:4px solid #ffe85a;}
.nav-gnb > li.on .submenu {display:block;}

.nav-gnb > li.m3, .nav-gnb > li.m4, .nav-gnb > li.m9 {margin:0 0 0 15px;}
.nav-gnb > li.m3:before, .nav-gnb > li.m4:before, .nav-gnb > li.m9:before, .nav-gnb > li.m10:before {content:'';display:block;float:left;width:1px;height:12px;margin:10.5px 0 9px -7px;;background:#c0c0c2;}
.nav-gnb > li.m10:before {margin-left:0;}

/* GNB : 개인, 기업, 추천상품 */
.nav-gnb > li.m1 > a, .nav-gnb > li.m2 > a, .nav-gnb > li.m3 > a {color:#000;}

/* GNB : 기업 */
.nav-gnb > li.m2 .submenu:nth-child(2) {width:109px;/*margin:0 -178px 0 0;*/}
/*.nav-gnb > li.m2 .submenu:nth-child(2):after {content:'';display:block;position:absolute;top:21px;bottom:15px;left:50%;width:1px;border-left:1px dotted #e7e4e2;}
.nav-gnb > li.m2 .submenu:nth-child(2) ul > li {width:87px;}
.nav-gnb > li.m2 .submenu li:nth-child(6) ~ li {margin-left:109px;}
.nav-gnb > li.m2 .submenu li:nth-child(7) {margin-top:-162px;}*/

/* GNB : 전체서비스, GLOBAL */
.nav-gnb > li.m9, .nav-gnb > li.m10 {position:static;}
.nav-gnb > li.m9 .submenu, .nav-gnb > li.m10 .submenu {right:0;margin:0;}
.nav-gnb > li.m9 > a, .nav-gnb > li.m10 > a {position:relative;padding-right:24px;}
.nav-gnb > li.m9 > a:not(:only-child):before, .nav-gnb > li.m10 > a:not(:only-child):before {margin-left:-10px;}
.nav-gnb > li.m9 > a:after, .nav-gnb > li.m10 > a:after {content:'';position:absolute;right:10px;top:50%;margin:-2px 0 0;border-right:3px solid transparent;border-left:3px solid transparent;border-top:4px solid #000;}

/* GNB : 전체서비스 */
.nav-gnb > li.m9 .submenu {min-width:665px;}

/* GNB : GLOBAL */
.nav-gnb > li.m10 .submenu {min-width:328px;}
.nav-gnb > li.m10 .submenu > ul > li {width:308px;margin:0 !important;}
.nav-gnb > li.m10 .submenu > ul > li + ul {overflow:hidden;width:308px !important;}
.nav-gnb > li.m10 .submenu > ul > li + ul li{margin:0 !important;}
.nav-gnb > li.m10 .submenu > ul > li ul {overflow:hidden;}
.nav-gnb > li.m10 .submenu > ul > li ul li {float:left;width:150px;}


.nav-gnb > li.m10 .submenu ul li a {line-height:38px;}
.nav-gnb > li.m10 .submenu > ul > li ul.langList{overflow:hidden;position:relative; margin-bottom:19px;}
.nav-gnb > li.m10 .submenu > ul > li ul.langList li a{position:relative;padding-left:39px !important; line-height:38px !important}


.nav-gnb > li.m10 .submenu > ul > li ul.langList li.lang_china {position: absolute !important;left:165px;top:0px; width:150px;}
.nav-gnb > li.m10 .submenu > ul > li ul.langList li.lang_japan{display:block; width:100%;}
.nav-gnb > li.m10 .submenu > ul > li ul.langList li a:before{content:'';display:block;position:absolute;top:50%;left:10px;margin:-12px 0;width:24px;height:24px;background:url('https://oimg1.kbstar.com/img/ocommon/2018/icon_set_n1.png') no-repeat 0 0;border-radius:50%;}
.nav-gnb > li.m10 .submenu > ul > li ul.langList li.lang_eng a:before {background:url('https://oimg1.kbstar.com/img/omoney/2016/ocalculator/bg_flag.png')  no-repeat 0 0; background-position:0 0; }
.nav-gnb > li.m10 .submenu > ul > li ul.langList li.lang_china a:before {background-position:-80px -300px;}
.nav-gnb > li.m10 .submenu > ul > li ul.langList li.lang_japan a:before {background-position:0 -300px;}

.nav-gnb > li.m10 .submenu ul li[class*="nation"] a {position:relative;padding:0 0 0 40px;}
.nav-gnb > li.m10 .submenu ul li[class*="nation"] a:before {content:'';position:absolute;top:50%;display:block;left:10px;width:25px;height:25px;margin:-13px 0 0;background:url('../img/icon_set1.png') no-repeat 0 0;}
.nav-gnb > li.m10 .submenu ul li.nation1 a:before {background-position:0 0;}
.nav-gnb > li.m10 .submenu ul li.nation2 a:before {background-position:-160px 0;}
.nav-gnb > li.m10 .submenu ul li.nation3 a:before {background-position:-40px 0;}
.nav-gnb > li.m10 .submenu ul li.nation4 a:before {background-position:-200px 0;}
.nav-gnb > li.m10 .submenu ul li.nation5 a:before {background-position:-80px 0;}
.nav-gnb > li.m10 .submenu ul li.nation6 a:before {background-position:-240px 0;}
.nav-gnb > li.m10 .submenu ul li.nation7 a:before {background-position:-120px 0;}
.nav-gnb > li.m10 .submenu ul li.nation8 a:before {background-position:-400px 0;}



/* GNB : 통합검색 */
.nav-gnb > li.m11:before {display:none;}
.nav-gnb > li.m11 > a {display:block;width:0;padding:0 0 0 30px;line-height:30px;overflow:hidden;background:url('../img/icon_set1.png') no-repeat -285px -85px;white-space:nowrap;}
.nav-gnb > li.m11 > a:before {display:none;}

/* GNB : 통합검색 : 상세컨텐츠 */
#search_container_2018 {overflow:hidden;position:fixed;left:0;right:0;top:0;padding:110px 0 0;margin:-300px 0 0;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
#search_container_2018:before, #search_container_2018:after {content:'';display:block;position:absolute;left:0;right:0;top:0;z-index:-1;}
#search_container_2018:before {bottom:100%;background:rgba(255,255,255,0);}
#search_container_2018:after {height:190px;background:#ffd223;}
#search_container_2018 .ui-close {overflow:hidden;display:none;position:absolute;left:50%;top:25px;width:0;height:30px;margin:0 0 0 460px;padding:0 0 0 30px;line-height:30px;background:none;border:0;white-space:nowrap;}
#search_container_2018 .ui-close:before, #search_container_2018 .ui-close:after {content:'';position:absolute;display:block;left:50%;top:50%;width:30px;height:3px;margin:-1px 0 0 -15px;background:#4c3525;opacity:0;}
#search_container_2018 .form-search {display:none;position:relative;width:880px;margin:20px auto 0;padding:10px 50px 20px;background:#fff;font-size:14px;box-shadow:2px 2px 2px 0 rgba(0,0,0,0.1);opacity:0;}
#search_container_2018 .form-search:before {content:'';position:absolute;left:50%;top:-80px;display:block;width:150px;height:28px;margin:0 0 0 -490px;background:url('../img/icon_set1.png') no-repeat 0 -80px;opacity:0;}
#search_container_2018 .form-search legend {float:left;overflow:hidden;width:1px;height:1px;margin-top:-1px;line-height:0;opacity:0;}
#search_container_2018 .form-search .form {position:relative;}
#search_container_2018 .form-search .form .input-holder {position:relative;display:inline-block;width:100%;vertical-align:middle;z-index:2;*display:inline;*zoom:1;text-align:left;}
#search_container_2018 .form-search .form .input-holder input[type="text"],
#search_container_2018 .form-search .form .input-holder input[type="text"] + span {font-size:24px;line-height:30px;padding:18px 5px;}
#search_container_2018 .form-search .form .input-holder input[type="text"] {width:100%;height:70px;*height:18px;padding-right:90px;border:0;border-bottom:2px solid #000;z-index:0;-webkit-box-sizing:border-box;box-sizing:border-box;*width:80%;outline:0;}
#search_container_2018 .form-search .form .input-holder input[type="text"] + span {display:block;position:absolute;left:0;top:0;color:#8c8c8c;white-space:nowrap;z-index:1;}
#search_container_2018 .form-search .form .input-holder input[type="text"].valueon + span {z-index:-1;}
#search_container_2018 .form-search .form .btn-icon {overflow:hidden;position:absolute;right:5px;top:18px;display:block;width:0;padding:0 0 0 40px;line-height:40px;white-space:nowrap;vertical-align:middle;text-align:left;background:url('../img/icon_set1.png') no-repeat 0 0;z-index:51;}
#search_container_2018 .form-search .form .btn-icon.ic2 {background-position:-160px -80px;}
#search_container_2018 .form-search .form .btn-icon.ic1 {background-position:-200px -80px;right:50px;}
#search_container_2018 .form-search .form .ui-reset {display:none;}
#search_container_2018 .form-search .form .input-holder.del-on ~ .ui-reset {display:block;}

#search_container_2018 .form-search .info-word {margin:20px 0 0;overflow:hidden;}
#search_container_2018 .form-search .info-word dt, #search_container_2018 .form-search .info-word dd {font-size:14px;line-height:30px;}
#search_container_2018 .form-search .info-word dt {float:left;width:100px;font-weight:700;color:#000;text-indent:5px;}
#search_container_2018 .form-search .info-word dd {position:relative;margin:0 0 0 100px;width:100%;min-height:30px;}
#search_container_2018 .form-search .info-word dd button {display:inline-block;height:30px;padding:0 14px;background:#e8e8e8;color:#89744f;white-space:nowrap;border-radius:15px;}
#search_container_2018 .form-search .info-word dd button + button {margin:0 0 0 6px;}

#search_container_2018.open {overflow:visible;margin:0;}
#search_container_2018.open:before {position:fixed;bottom:0;background:#fff;-webkit-transition:background 0.5s ease;-moz-transition:background 0.5s ease;-o-transition:background 0.5s ease;transition:background 0.5s ease;}
#search_container_2018.open .form-search {display:block;visibility:visible;margin-top:0;opacity:1;-webkit-transition:all 0.8s ease;-moz-transition:all 0.8s ease;-o-transition:all 0.8s ease;transition:all 0.8s ease;}
#search_container_2018.open .form-search:before {opacity:1;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;-webkit-transition-delay:0.8s;-moz-transition-delay:0.8s;-o-transition-delay:0.8s;transition-delay:0.8s;}
#search_container_2018.open .ui-close {display:block;}
#search_container_2018.open .ui-close:before, #search_container_2018.open .ui-close:after {opacity:1;-webkit-transition:all 0.3s ease;-moz-transition:all 0.3s ease;-o-transition:all 0.3s ease;transition:all 0.3s ease;}
#search_container_2018.open .ui-close:before {-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
#search_container_2018.open .ui-close:after {-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
#search_container_2018.open .form-search, #search_container_2018.open .ui-close:before, #search_container_2018.open .ui-close:after {-webkit-transition-delay:0.4s;-moz-transition-delay:0.4s;-o-transition-delay:0.4s;transition-delay:0.4s;}

@media \0screen\,screen\9 {
	#search_container_2018 .form-search {border:1px solid #ddd;}
	#search_container_2018 .ui-close:before, #search_container_2018 .ui-close:after {display:none;}
	#search_container_2018 .ui-close {background:url('../img/icon_set1.png') no-repeat -245px -85px;}
}

/*--------------------------------------------------------------------------------
	# 레이아웃 : 컨텐츠
---------------------------------------------------------------------------------*/
.contentWrap {min-height:calc(100vh - 220px);margin:-70px auto 0;padding:0 0 55px;}

/*--------------------------------------------------------------------------------
	# 레이아웃 : FOOTER
---------------------------------------------------------------------------------*/
/* FOOTER : 영역 */
.footWrap {position:relative;border-top:1px solid #e5e5e5;z-index:50;}
.foot_area_2015 {position:relative;width:980px;height:145px;margin:0 auto;padding:20px 0;font-size:13px;color:#333;}

/* 기본정보 */
.nav-fnb {overflow:hidden;margin:0 0 0 -12px;}
.nav-fnb li {float:left;}
.nav-fnb li + li:before {content:'';display:block;float:left;width:1px;height:12px;margin:8px 0 6px;background:#bebebe;}
.nav-fnb li a {display:block;padding:0 12px;font-size:13px;line-height:24px;color:#333;letter-spacing:-1px;}

/* SNS정보 */
.info-sns {position:absolute;top:65px;right:0;}
.info-sns ul {overflow:hidden;}
.info-sns ul > li {float:left;}
.info-sns ul > li + li {margin:0 0 0 5px;}
.info-sns ul > li a {overflow:hidden;display:block;width:0;height:32px;line-height:32px;padding:0 0 0 32px;background:url('../img/icon_set1.png') no-repeat 0 -40px;white-space:nowrap;}
.info-sns ul > li.ic1 a {background-position:0 -40px;}
.info-sns ul > li.ic2 a {background-position:-40px -40px;}
.info-sns ul > li.ic3 a {background-position:-80px -40px;}
.info-sns ul > li.ic4 a {background-position:-120px -40px;}/*2018-12-28 추가*/

/* COPYRIGHT 및 로고 */
.copy {display:inline-block;font-size:13px;line-height:21px;}

.info-mark {display:block;position:absolute;left:310px;top:110px;overflow:hidden;}
.info-mark li {position:relative;overflow:hidden;float:left;display:block;}
.info-mark li + li {margin:0 0 0 20px;}
.info-mark li a, .info-mark li span {display:block;width:0;height:40px;padding:0;white-space:nowrap;}
.info-mark li.ic1 a, .info-mark li.ic1 span {padding:0 0 0 145px;background:url('https://www.kbstar.com/2018/images/intro_logo_ncsi_2019.gif') no-repeat 50% 50%;}
.info-mark li.ic2 a, .info-mark li.ic2 span {padding:0 0 0 110px;background:url('https://www.kbstar.com/2018/img/intro_logo_wa_2018.gif') no-repeat 50% 50%;}
.info-mark li.ic3 a, .info-mark li.ic3 span {padding:0 0 0 65px;background:url('https://www.kbstar.com/2017/images/img_bot_wa.jpg') no-repeat 50% 50%;}

/* 바로가기 및 고객센터 */
.info-group {display:inline-block;width:100%;margin:17px 0 25px;vertical-align:top;}
.info-group > .list > li {position:relative;float:left;}
.info-group > .list > li + li {margin:0 0 0 5px;}
.info-group > .list > li .tit {display:block;padding:8px 10px 7px;font-size:13px;height:20px;line-height:17px;border:1px solid #bbb;font-weight:normal;white-space:nowrap}
.info-group > .list > li a.tit {/* min-width:100px; */padding-right:60px;background:url('https://www.kbstar.com/2017/images/bg_select_arr_down2.png') no-repeat 100% 50%;white-space:nowrap}
.info-group > .list > li[class*="ic"] .tit:before {content:'';display:inline-block;width:20px;height:20px;background:#ddd;margin:0 5px 0 0;vertical-align:top;}
.info-group > .list > li[class*="ic"] a.tit {padding-right:30px;}
.info-group > .list > li .info {display:none;position:absolute;left:0;bottom:100%;min-width:100%;margin:0 0 -1px;background:#fff;}
.info-group > .list > li .info > *:first-child {border:1px solid #bbb;}
.info-group > .list > li .info > ul > li a {display:block;line-height:32px;padding:0 14px;letter-spacing:-1px;white-space:nowrap}
.info-group > .list > li .info > ul > li a:hover, .info-group > .list > li .info > ul > li a:focus {background:#ffe500;}
.info-group > .list > li .info > dl {padding:0 15px;}
.info-group > .list > li .info > dl > dt, .info-group > .list > li .info > dl > dd {padding:15px 0;line-height:20px;font-weight:bold;}
.info-group > .list > li .info > dl > dt {float:left;width:90px;color:#7d5735;}
.info-group > .list > li .info > dl > dd {position:relative;padding-left:90px;color:#333;}
.info-group > .list > li .info > dl > dd ul li + li {margin:10px 0 0;}
.info-group > .list > li .info > dl > dd span {display:block;font-weight:normal;color:#666;}
.info-group > .list > li .info > dl > dt:first-child + dd ~ dd {border-top:1px solid #e9e9e9;}
.info-group > .list > li:first-child a.tit {border-color:#666;}
.info-group > .list > li:first-child .info > *:first-child {border:1px solid #666;}
.info-group > .list > li.ic1 .info {min-width:360px;}
.info-group > .list > li.ic1 .tit:before {background:url('https://www.kbstar.com/2017/images/ico_footer_phone.png') no-repeat 50% 50%;}
.info-group > .list > li.ic2 .tit:before {background:url('https://www.kbstar.com/2017/images/ico_footer_email.png') no-repeat 50% 50%;}
.info-group > .list > li.ic3 .tit:before {background:url('https://www.kbstar.com/2017/images/ico_footer_chat.png') no-repeat 50% 50%;}
.info-group > .list > li:first-child>a{width:89px;}/*2018-12-28 수정*/
.info-group > .list > li:nth-child(2)>a{width:139px;}
.info-group > .list > li:nth-child(3)>a{width:112px;}
.info-group > .list > li:nth-child(4)>a{width:186px;}
.info-group > .list > li:nth-child(5)>a{width:100px;} /*2018-12-28 수정*/

.info-group > .list > li.on .info {display:block;}
.info-group > .list > li.on a.tit {background:url('https://www.kbstar.com/2017/images/bg_select_arr_up2.png') no-repeat 100% 50%;}

/*--------------------------------------------------------------------------------
	# 레이아웃 : 레이어팝업 
---------------------------------------------------------------------------------*/
.layerType {padding:0;position:absolute;border:3px solid #806c5d;text-align:left;background:#fff;right:280px;top:190px;margin-left:-250px;margin-top:-133px;z-index:1000;}
.layerType.pd {border:3px solid #5f584c;padding:17px 15px 20px;}
.layerType .tit_layerpopH1 {position:relative;margin:-17px -15px 20px;padding:10px 40px 10px 20px;background:#5f584c;font-size:16px;line-height:20px;color:#fff;}
.layerType .contimg {padding:39px 0 0 0;background-color:#f9be00}
.layerType .layerClose {margin:0;padding:0}
.layerType .layerClose a {display:block;width:27px;height:27px;text-indent:-9999px;overflow:hidden;background:url('https://oimg1.kbstar.com/img/ocommon/btn/intro_zerolayer_close.png') no-repeat;position:absolute;top:6px;right:10px;z-index:1001;}
.layerType p.layerClose button {display:block;width:27px;height:25px;text-indent:-9999px;overflow:hidden;background:url('https://oimg1.kbstar.com/img/ocommon/btn/btn_down_2.gif') no-repeat;position:absolute;top:10px;right:10px;border:0 none;cursor:pointer}
.layerType .btnArea {height:50px;padding:10px 20px;box-sizing:border-box;}
.layerType .btnArea.tac{text-align:center;} /* 2019-01-07 */
.layerType .btnArea input, .layerType .btnArea label {vertical-align:middle;}
.layerType .btnArea input {margin:0 5px 0 0;}
.layerType .btnArea label {font-size:13px;line-height:30px;}
.layerType .btnArea button {display:inline-block;float:right;width:45px;height:28px;background-color:#FFF;border:1px solid #ddd;font-weight:bold;cursor:pointer;box-sizing: content-box;}
.layerType .btnArea2{margin-top:20px;text-align:center;z-index:1}
.layerType .btnArea2 .btn-com{overflow: hidden;position: relative;display: inline-block;padding: 0 14px;text-align: center;white-space: nowrap;vertical-align: middle; border: 1px solid #afafaf;    font-size: 12px;    box-sizing: border-box;    min-width: 80px;height: 35px;line-height: 35px;color: #4e473f;cursor: pointer;font-weight:bold;}
/*--------------------------------------------------------------------------------
	# 레이아웃 : 모바일웹으로 이동
---------------------------------------------------------------------------------*/
.btn-mobile {max-width:980px;margin:10px auto;}
.btn-mobile a {display:block;border:1px solid #ddd;text-align:center;font-size:20px;line-height:50px;}

/*--------------------------------------------------------------------------------
	# 컨텐츠 : 서비스지연
---------------------------------------------------------------------------------*/
.mes-area1 {height:410px;background:#e0edf5;padding:120px 0 0;}
.mes-area1 > div {width:894px;margin:0 auto;padding:30px;border:13px solid #ffe570;background:#fff;border-radius:0 30px 0 30px;}
.mes-area1 > div:before {content:'';width:210px;height:250px;background:url('../img/img_mes1.png') no-repeat 50% 50%;}
.mes-area1 > div:before, .mes-area1 > div .mes {display:inline-block;vertical-align:middle;padding:0 30px;}
.mes-area1 > div .mes {max-width:520px}
.mes-area1 > div .mes h2 {font-size:26px;line-height:34px;color:#342e38;margin:0 0 8px;font-weight:bold;}
.mes-area1 > div .mes p {font-size:14px;line-height:22px;}
.mes-area1 > div .mes p.info {margin:22px 0 0;font-weight:bold;color:#000;}

/*--------------------------------------------------------------------------------
	# 컨텐츠 : 전체메뉴
---------------------------------------------------------------------------------*/
.intro-totalmenu {width:920px;margin:56px auto 0 !important;}
.intro-totalmenu > ul {overflow:hidden;}
.intro-totalmenu > ul > li {float:left;width:140px;}
.intro-totalmenu > ul > li > a, .intro-totalmenu > ul > li > .tit {display:block;margin-bottom:8px;font-size:16px;color:#53473e;font-weight:bold;}
.intro-totalmenu > ul > li > ul > li > a {display:block;padding:1px 0 2px;font-size:13px;color:#666;}
.intro-totalmenu > ul > li a:hover {text-decoration:underline;}
.intro-totalmenu > ul > li a[target="_blank"]:after {content:'';overflow:hidden;display:inline-block;width:12px;height:12px;margin:0 0 0 6px;background:url('../img/icon_set1.png') no-repeat -445px -5px;}

.intro-totalmenu > ul > li.m3, .intro-totalmenu > ul > li.m4, .intro-totalmenu > ul > li.m5 {width:180px;}
.intro-totalmenu > ul > li.m5 {margin:150px 0 0 -180px;}
.intro-totalmenu > ul > li.m6, .intro-totalmenu > ul > li.m7 {width:155px;}
.intro-totalmenu > ul > li.m7 {margin:222px 0 0 -155px}
.intro-totalmenu > ul > li.m7 > a {font-size:13px;color:#666;font-weight:normal;}
.intro-totalmenu > ul > li.m7 > ul {overflow:hidden;width:104px;}
.intro-totalmenu > ul > li.m8 {width:120px;}

.intro-totalmenu [class*='nation'] {float:left;}
.intro-totalmenu [class*='nation'] > a {overflow:hidden;display:block;padding-left:26px;width:0;height:26px;background:url('../img/icon_set1.png') no-repeat;white-space:nowrap;}
.intro-totalmenu .nation1 > a {background-position:0 -200px;}
.intro-totalmenu .nation2 > a {background-position:-40px -200px;}
.intro-totalmenu .nation3 > a {background-position:-80px -200px;}
.intro-totalmenu .nation4 > a {background-position:-120px -200px;}
.intro-totalmenu .nation5 > a {background-position:-160px -200px;}
.intro-totalmenu .nation6 > a {background-position:-200px -200px;}
.intro-totalmenu .nation7 > a {background-position:-240px -200px;}

.intro-totalmenu [class*='ico']{display:block;margin-bottom:7px;}
.intro-totalmenu [class*='ico']:before {content:'';display:inline-block;margin:-2px 7px 0 0;padding-left:30px;width:0;height:30px;background:url('../img/icon_set3.png') no-repeat;vertical-align:middle;}
.intro-totalmenu .ico1:before {background-position:0 -60px;}
.intro-totalmenu .ico2:before {background-position:-60px -60px;}
.intro-totalmenu .ico3:before {background-position:-120px -60px;}
.intro-totalmenu .ico4:before {background-position:-180px -60px;}
.intro-totalmenu .ico5:before {background-position:-240px -60px;}
.intro-totalmenu .ico6:before {background-position:-300px -60px;}
.intro-totalmenu .ico7:before {background-position:-360px -60px;}
.intro-totalmenu .ico8:before {background-position:-420px -60px;}
.intro-totalmenu .ico9:before {background-position:-480px -60px;}