<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AccountMapper">

<!-- ano 있나없나 deposittbl exists 조회 -->
	<select id="exists_deposit_ano" resultType="int">
		select count(ano) from deposittbl
		where ano=#{ano}
	</select>

	<insert id="create_deposit">
		insert into deposittbl(dno, cno, ano, balance) values(seq_deposit.nextVal, #{cno}, #{ano}, 0)
	</insert>
	
	
	<select id="get_deposit_list" resultType="com.spring.domain.DepositVO">
		select * from deposittbl where dno > 0 order by dno desc

	</select>



</mapper>