<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.AccountMapper">

<!-- ano 있나없나 deposittbl exists 조회 -->
	<select id="exists_deposit_ano" resultType="int">
		select count(ano) from deposittbl
		where ano=#{ano}
	</select>

	<insert id="create_deposit">
		insert into deposittbl(cno, ano, type, product, password, balance, day_withdraw, max_withdraw, branch)
		values(#{cno}, #{ano}, #{type}, #{product}, #{password}, 0, #{day_withdraw}, #{max_withdraw}, #{branch})
	</insert>
	
	<insert id="create_customer_request">
		insert into customer_request(cr_no, name, eng_name, birth, address, mobile, id, email, type, product, visitAddress)
		values(seq_customer_request.nextVal, #{name}, #{eng_name}, #{birth}, #{address}, #{mobile}, #{id}, #{email}, #{type}, #{product}, #{visitAddress})
	</insert>
	
	<insert id="create_customer_D_request">
		insert into customer_D_request(cdr_no, name, birth, type, p_name, ano, password)
		values(seq_customer_D_request.nextVal, #{name}, #{birth}, #{type}, #{p_name}, #{ano}, #{password})
	</insert>
	<select id="get_deposit_list" resultType="com.spring.domain.DepositVO">
		select * from deposittbl where dno > 0 order by dno desc

	</select>

	<!-- cno로 deposittbl 가져오기 -->
	<select id="cno_deposit" resultType="com.spring.domain.DepositVO">
		select d.*,p.p_name from deposittbl d,producttbl p where cno=#{cno} and p.product=d.product
	</select>
	
	<!-- 상품 조회 -->
	<select id="getProduct" resultType="com.spring.domain.ProductVO">
		select product, p_name from producttbl
		where round(product/100)=#{type}
	
	</select>
	
	<!-- ano로 depostbl,customertbl 정보가져오기 -->
	<select id="ano_deposit_customer" resultType="com.spring.domain.Customer_delete_requestVO">
		select c.name,c.birth ,d.type,(select p.p_name from producttbl p where p.product=d.product)p_name,d.ano ,d.createDate ,d.balance ,d.password
		from customertbl c, deposittbl d 
		where c.cno=(select deposittbl.cno 
          			from  deposittbl  
           			where ano=#{ano}) 
		and c.cno=d.cno
		and d.ano=#{ano}
	</select>
	<!-- ano로 계좌정보 -->
	<select id="getRow" resultType="com.spring.domain.DepositVO">
		<!-- select a.ano, producttbl.p_name, a.day_withdraw, a.max_withdraw, a.balance from (select * from deposittbl where ano=#{ano}) a
		left join producttbl
		on a.product = producttbl.product -->
		select d.ano, d.p_name, d.day_withdraw, d.max_withdraw, d.balance, h.depositdate from (select a.ano, producttbl.p_name, a.day_withdraw, a.max_withdraw, a.balance from (select * from deposittbl where ano=#{ano}) a
		left join producttbl
		on a.product = producttbl.product) d
        left join (select * from deposit_history where ano=#{ano} and rownum=1 order by depositdate desc) h
        on d.ano=h.ano
		
	</select>
	

	<!-- 계좌 정보 수정 (max, day withdraw) -->
	<update id="update_withdraw">
		update deposittbl set max_withdraw=#{max_withdraw}, day_withdraw=#{day_withdraw}, updatedate=sysdate
		where ano=#{ano}
	
	</update>
	<!-- 계좌 비밀번호 수정 -->
	<update id="update_password">
		update deposittbl set password=#{password}, updatedate=sysdate
		where ano=#{ano}
	</update>


	<!-- 계좌 비밀번호 받기 -->
	<select id="get_password" resultType="String">
		select password from deposittbl
		where ano=#{ano}
	</select>
	
	
	<!-- 계좌 삭제 --> 			<!-- 카드확인 추가해야함 -->
	<delete id="delete">
		delete from deposittbl
		where ano=#{ano}
	
	</delete>
	
	<!-- 계좌 잔액 -->
	<select id="get_balance" resultType="long">
		select balance from deposittbl
		where ano=#{ano}
	</select>
	
	
	<!-- ano로 고객이름, cno, ano balance,max_withdraw -->
	<select id="check_ano" resultType="com.spring.domain.DepositVO">
		select customertbl.name, d.cno, d.ano, d.balance, d.max_withdraw
		from (select cno, ano, balance, max_withdraw from deposittbl where ano = #{ano}) d
		join customertbl
		on customertbl.cno = d.cno
	</select>
	
	
	<!-- 계좌 입금 -->	
	<insert id="deposit_hist">
		insert into deposit_history(hno, from_ano, ano, name, deposit, balance, depositdate)
		values(seq_deposit_history.nextVal, #{from_ano}, #{ano}, #{name}, #{amount}, (select balance from deposittbl where ano=#{ano})+#{amount}, sysdate)
	</insert>
	
	<!-- 계좌 출금 -->	
	<insert id="withdraw_hist">
		insert into deposit_history(hno, from_ano, ano, name, withdrawal, balance, depositdate)
		values(seq_deposit_history.nextVal, #{from_ano}, #{ano}, #{name}, #{amount}, (select balance from deposittbl where ano=#{ano})-#{amount}, sysdate)
	</insert>
	
	
	<update id="updateBalance_after"  parameterType="com.spring.domain.DepositVO">
		<selectKey keyProperty="balance" order="BEFORE" resultType="long">
			select balance from
			(select rownum, balance from deposit_history where ano=#{ano} order by depositdate desc)
			where rownum=1
		</selectKey>
		update deposittbl set balance=#{balance}
		where ano=#{ano}
	</update>
	
	
	<!-- 계좌 거래 내역 -->
	<select id="get_history" resultType="com.spring.domain.Deposit_historyVO">
		select * from deposit_history where ano=#{ano} and depositdate between #{start_date} and #{end_date}
		order by depositdate desc
	</select>
	
	<!-- id로 cno가져오기 -->
	<select id="get_cno" resultType="String">
		select cno from customerTBL where id=#{id}
	</select>
	
	<!-- 고객별 balance 금액 가져오기 -->
	<select id="cno_sumBalance" resultType="long">
		select sum(balance) from deposittbl where cno=#{cno}
	</select>
	
	
</mapper>