<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CardMapper">


	<!-- 카드 상품 목록 -->
	<select id="get_product" resultType="com.spring.domain.Card_productVO">
		select * from card_product
	</select>

	<!-- 카드번호 중복 확인 -->
	<select id="check_card_no" resultType="int">
		select count(*) from cardtbl where card_no=#{card_no}
	</select>

	<!-- ano로 카드번호 불러오기 -->
	<select id="get_cardList" resultType="com.spring.domain.CardVO">
		select card_no from cardtbl
		where ano=#{ano}
		order by createdate desc
	</select>
	
	<!-- 카드 등록 -->
	<insert id="register_card">
		insert into cardtbl(card_no, password, ano, c_type,  security_key, limit, limit_month)
		values(#{card_no}, #{password}, #{ano}, #{c_type},  #{security_key}, #{limit}, #{limit_month} )
	</insert>
	
	<!-- card_no로 카드정보 -->
	<select id="get_cardInfo" resultType="com.spring.domain.CardVO">
		select c.card_no, c.limit, c.limit_month, c.condition, card_product.p_name 
		from (select * from cardtbl where card_no=#{card_no}) c
		join card_product
		on c.c_type = card_product.product
	</select>


	<!-- 카드 컨디션 -->
	<select id="get_condition" resultType="com.spring.domain.Card_conditionVO">
		select * from card_condition order by condition asc
	</select>

	<!-- 카드 비밀번호 변경 -->
	<update id="update_password">
		update cardtbl set password=#{password}
		where card_no=#{card_no}
	</update>

	
	<!-- 카드 정보 변경 -->
	<update id="update_cardInfo">
		update cardtbl set limit=#{limit}, limit_month=#{limit_month}, condition=#{condition}
		where card_no=#{card_no}
	</update>



	<!-- 카드 신청 -->
	<insert id="request_card">
		insert into cardtbl(card_no, password, ano, c_type,  security_key, limit, limit_month, request, branch)
		values(#{card_no}, #{password}, #{ano}, #{c_type},  #{security_key}, #{limit}, #{limit_month}, 1, #{branch} )
	</insert>

	<!-- 카드 신청 현황 -->
	<select id="select_card_requested" resultType="com.spring.domain.CardVO">
		<![CDATA[
			select * from (select cardtbl.*, rownum rn from cardtbl
			where request=1 
			order by createdate asc) a
	        where a.rn < 50
        ]]>
	</select>

	<update id="set_request">
		update cardtbl set request=0
		where card_no=#{card_no}
	</update>

</mapper>