<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.CustomerMapper">


<!-- cno로 고객정보 -->
	<select id="select_by_cno" resultType="com.spring.domain.CustomerVO">
		select * from customertbl
		where cno=#{cno}
	</select>


<!-- search (name, birth, mobile) -->
	<select id="search_customer" resultType="com.spring.domain.CustomerVO">
	<![CDATA[
		select /*+INDEX_DESC(customertbl customertbl_index)*/
		 cno, name, birth, mobile, address 
		from customertbl
		where cno > 0 and name like '%'||#{name}||'%' and birth like '%'||#{birth}||'%' and mobile like '%'||#{mobile}||'%' and rownum < 100
		order by cno desc
	]]>
	</select>


<!-- id 아이디 중복 체크 -->
	<select id="checkId" resultType="int">
		select count(*) from customertbl
		where id=#{id}
	</select>

<!-- 고객 등록 -->
	<insert id="register_customer">
		insert into customertbl(cno, rating, name, gender, birth, resident_registration_no, address, mobile, id, password, passhint, email, withdrawal_limits, check_card) 
		values(seq_customer.nextVal, #{rating}, #{name}, #{gender}, #{birth}, #{resident_registration_no},#{address}, #{mobile}, #{id}, #{password}, #{passhint}, #{email}, #{withdrawal_limits}, #{check_card}) 
	
	</insert>






</mapper>