<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.UserMapper">



	<select  id="listmap" resultType="com.spring.domain.Customer_noticeVO">
		 
		select /*+INDEX_DESC(notice_board pk_notice_board)*/ rownum rn, notice_bno, title, writer, regdate, updatedate, notice_type
		from notice_board
		where notice_bno > 0
		order by notice_bno desc
	</select>
	<select id="getRow" resultType="com.spring.domain.Customer_noticeVO">
		select * from notice_board
		where notice_bno=#{notice_bno}
	</select>



</mapper>
